body{
    text-align: center;
    background-color: #b56576;
    margin: 0px;
    color:#ffffff;
    font-family: 'Happy Monkey', cursive;
    animation-name: animation;
    animation-duration: 6s;
    animation-iteration-count: 3;
    }
    @keyframes animation{
        0% {background-color: #355070;}
       25% {background-color: #e56b6f;}
       50%{background-color: #6d597a;}
       100%{background-color: #84a59d;}
    }

.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 3px -3px  #6d597a;
}

#zimg{
    margin: 20px 0 0px 0px;
    border-radius: 50%;
    width: 200px;
    border: 6px solid #eaac8b;
}
#first{
    margin: 30px 0 0 0;
}
#date{
    margin: 10px 0 30px 0px;;
    background: #eaac8b;
    padding: 5px 10px;
    border-radius:5px;
}
#add{
    margin: -10px 0 0px 0px;
}
#is{
    margin: -15px 0 5px 0px;
}
.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("gift.PNG");
    background-size: cover;
}
.gift-img:hover {
    background-image: url("realhappy.gif");
}

#gift-img2:hover{
    background-image: url("worldgiphy.gif");
}
#gift-img3:hover{
    background-image: url("strong.gif");
}

#gift-img4:hover{
    background-image: url("shoutout.gif");
}